<mat-toolbar class="editor-toolbar" color="primary">
  <mat-toolbar-row>
      <span *ngFor="let toolData of toolButtons">
        <mat-icon class="toolbar-icon" mat-ripple (click)="triggerCommand(toolData.cmd)"
                  [ngClass]="{ 'active': toolData.active }">{{ toolData.iconName }}</mat-icon>
      </span>
  </mat-toolbar-row>
</mat-toolbar>
