<div class="list-header-container">
  <div class="top">
    <div class="back-button-wrapper">
      <button mat-button *ngIf="historyChain.length > 1" (click)="backTapped.emit('back')">
        <mat-icon>
          arrow_back
        </mat-icon>
      </button>
    </div>
    <ul class="history-links">
      <li class="history-link" *ngFor="let link of historyChain; let i = index;">
        <div *ngIf="i > 0" class="link-separator">
          /
        </div>
        <button mat-button class="history-link" (click)="historySelected.emit(link)">
          {{ link.label }}
        </button>
      </li>
    </ul>
  </div>
  <div class="header">
    <div class="title">
      {{ title }}
      <div class="pageometer">
        {{ firstItemCount }} - {{ lastItemCount }} of {{ paginated.totalPages }}
      </div>
    </div>
    <div class="navigator">
      <div class="select-items-per-page">
        Items per page:
        <mat-select [value]="paginated.pageSize" (valueChange)="handlePageSizeSelect($event)">
          <mat-option *ngFor="let option of paginated.sizeOptions" [value]="option">{{option}}</mat-option>
        </mat-select>
      </div>
      <div class="page-controls">
        <button mat-button [disabled]="!(paginated.pageIndex > 0)" [ngClass]="{'disabled': !(paginated.pageIndex > 0)}"
                (click)="paginatedChange.emit({pageIndex: 0, pageSize: paginated.pageSize})">
          <mat-icon>
            first_page
          </mat-icon>
        </button>
        <button mat-button [disabled]="!(paginated.pageIndex > 0)" [ngClass]="{'disabled': !(paginated.pageIndex > 0)}"
                (click)="paginatedChange.emit({pageIndex: paginated.pageIndex - 1, pageSize: paginated.pageSize})">
          <mat-icon (click)="paginatedChange.emit({pageIndex: paginated.pageIndex - 1, pageSize: paginated.pageSize})">
            chevron_left
          </mat-icon>
        </button>
        <button mat-button [disabled]="!(paginated.pageIndex < paginated.totalPages - 1)"
                [ngClass]="{'disabled': !(paginated.pageIndex < paginated.totalPages - 1)}"
                (click)="paginatedChange.emit({pageIndex: paginated.pageIndex + 1, pageSize: paginated.pageSize})">
          <mat-icon>
            chevron_right
          </mat-icon>
        </button>
        <button mat-button [disabled]="!(paginated.pageIndex < paginated.totalPages - 1)"
                [ngClass]="{'disabled': !(paginated.pageIndex < paginated.totalPages - 1)}"
                (click)="paginatedChange.emit({pageIndex: paginated.totalPages - 1, pageSize: paginated.pageSize})">
          <mat-icon>
            last_page
          </mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
