
$font-family-header: 'Cinzel', serif;
$font-family-text: 'Montserrat', sans-serif;

$pink-background: rgba(255,62,213,0.51);
$pink-accent: rgb(143, 32, 119);

.list-header-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  background: $pink-background;
  color: $pink-accent;
  padding-bottom: 8px;
}

.top {
  display: grid;
  grid-template-areas: "back links";
  grid-template-columns: 2em 1fr;
  grid-template-rows: 2em;
}

.back-button-wrapper {
  grid-area: back;
}

ul.history-links {
  grid-area: links;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 0.8em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 0 22px;
  li {
    button {
      padding: 0 0 0 8px;
    }
    display: flex;
    align-items: center;
  }

  .link-separator {
    padding: 0;
  }
}

.header {
  width: 100%;
  grid-area: controls;
  display: grid;
  grid-template-areas: "title navigator";
  grid-template-columns: 1fr 380px;
  grid-template-rows: 100%;
}

.title {
  grid-area: title;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.4em;
}

.pageometer {
  font-size: 0.6em;
}
.navigator {
  grid-area: navigator;
  display: flex;
}

.select-items-per-page {
  width: 122px;
  padding: 0 8px;
  font-size: 0.8em;
  mat-select {
    text-align: center;
    font-size: 0.9em;
    font-weight: 800;
    padding-top: 6px;
  }
}

.page-controls {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;

  mat-icon {
    height: auto;
    width: auto;
    color: rgba(0,0,0,0.5);
    font-size: 3em;
    cursor: pointer;
    &:focus, &:active {
      animation: 0.3s ease-in depress;
    }
  }

  button.disabled mat-icon {
    color: rgba(107, 107, 107, 0.5);
    &:focus, &:active {
      animation: none;
    }
  }
}

@media (max-width: 492px) {
  .header {
    grid-template-areas: "title" "navigator";
    grid-template-columns: 100%;
    grid-template-rows: 2em;
  }
}

@keyframes depress {

  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}
