<div class="file-navigator-container" *ngIf="listNodeData.length > 0">
  <div class="header-wrapper mat-elevation-z8">
    <app-list-header [historyChain]="historyChainSource | async" [paginated]="paginated"
                     (paginatedChange)="handlePaginatedUpdate($event)" (backTapped)="handleBackTap()"
                     (historySelected)="handleHistoryTap($event)"></app-list-header>
  </div>
  <div class="search-wrapper ">
    <form class="search-form" [formGroup]="searchGroup">
      <mat-form-field class="search-input-wrapper">
        <input id="SearchInput" matInput placeholder="search" formControlName="searchQueryControl"/>
      </mat-form-field>
    </form>
  </div>
  <ul class="navigator-ul" *ngIf="(itemsSource | async)">
    <li *ngFor="let item of (itemsSource | async)" matRipple>
      <app-list-item [data]="item" (itemTapped)="handleItemTap($event)"></app-list-item>
    </li>
  </ul>
</div>
<div *ngIf="!listNodeData.length > 0">
  No Folder Loaded
</div>
