
$font-family-header: 'Cinzel', serif;
$font-family-text: 'Montserrat', sans-serif;

.search-wrapper {
  padding: 0 8px;
}

#SearchInput, .search-form, .search-input-wrapper {
  font-family: $font-family-text;
  text-rendering: optimizeLegibility;
  width: 100%;
}

ul {
  list-style: none;
  padding: 4px;

  li {
    cursor: pointer;

    &:hover {
      background: rgba(41, 168, 255, 0.23);
    }
  }

  & :nth-child(odd){
    background: rgba(255, 194, 177, 0.15);
  }
}
