<div class="viewer-container">
  <div class="document-view-container">
    <div class="document-nav-tabs">
      <mat-button-toggle-group name="DocumentNavTabs" aria-label="Document Editor Navigation">
        <mat-button-toggle id="DocumentTab" [ngClass]="{'active': tabState.Document.active, 'mat-button-toggle-checked': tabState.Document.active}" (click)="handleTabTap($event.target.textContent)">Document</mat-button-toggle>
        <mat-button-toggle id="DetailsTab" [ngClass]="{'active': tabState.Details.active, 'mat-button-toggle-checked': tabState.Details.active}" (click)="handleTabTap($event.target.textContent)">Details</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div [formGroup]="detailsForm" class="details" *ngIf="tabState.Details.active">
      <div class="top">
        <div class="top_left">
          <div class="updated-date">
            updated: {{ detailsForm.controls['updatedOn'].value }}
          </div>
          <div class="name-case">
            <mat-form-field
              [hideRequiredMarker]="true"
              [floatLabel]="'Document Name'">
              <input matInput placeholder="Document Name" formControlName="name" required>
            </mat-form-field>
            <div class="case-number">
              case # {{ (_documents.currentDocument$() | async).matter_id }}
            </div>
          </div>
        </div>
        <div class="top_right">
          <mat-checkbox formControlName="locked">
            <mat-icon>lock</mat-icon>
          </mat-checkbox>

        </div>
      </div>
      <div class="bottom">
        <div class="represented">
          <mat-form-field>
            <mat-select placeholder="Represented" [formControl]="detailsForm.controls['represented']">
              <mat-option *ngFor="let profile of profiles" [value]="profile">{{profile}}</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="info">
            <button mat-raised-button color="info"><mat-icon>info</mat-icon></button>
          </div>
        </div>
        <div class="representative">
          <mat-form-field>
            <mat-select placeholder="Representative" [formControl]="detailsForm.controls['representative']">
              <mat-option *ngFor="let profile of representatives" [value]="profile">{{profile}}</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="info">
            <button mat-raised-button color="info"><mat-icon>info</mat-icon></button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="tabState.Document.active" class="page-wrapper">

      <div class="left">
        <!--Numbers-->
      </div>

      <div class="center">
        <div *ngFor="let section of (_documents.onChangedSectionModels$() | async)">
          <app-selectable-edit [editable]="section.editable" [sectionModel]="section" (blur)="onBlur()"></app-selectable-edit>
        </div>
      </div>

      <div class="right"></div>
    </div>
  </div>
</div>
