$color-manila: #fff3ab;

.viewer-container {
  padding-top: 96px;
  overflow: auto;
}

.document-view-container {
  position: relative;
  padding: 10px 25px;
  margin: 0 auto 50vh auto;
  min-height: 90vh;
  box-shadow: 0 0 14px -1px rgba(0, 0, 0, 0.5);
  background: $color-manila;
}

.page-wrapper {
  display: grid;
  grid-template-areas: "Left Content Right";
  grid-template-rows: auto;
  grid-auto-columns: 26px 1fr 26px;
  box-shadow: 0 0 14px -1px rgba(0, 0, 0, 0.5);
}

.center {
  background: white;
  grid-area: Content;
  padding: 0px 6px;
}

.left {
  background: white;
  grid-area: Left;
  border-right: black solid 1px;
}

.right {
  background: white;
  grid-area: Right;
  border-left: black solid 1px;
}

.document-nav-tabs {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  mat-button-toggle {
    background: $color-manila;

    &.active {
      background: #ebc261;
    }
  }

}

@media (min-width: 320px) and (max-width: 531px) {
  .document-view-container {
    width: 320px;
  }
}
@media (min-width: 532px) and (max-width: 776px) {
  .document-view-container {
    width: 480px;
  }
}
@media (min-width: 777px) and (max-width: 1080px) {
  .document-view-container {
    width: 720px;
  }
}
@media (min-width: 1081px) {
  .document-view-container {
    width: 1080px;
  }
}

.details {
  .top {
    display: grid;
    grid-template-areas: 'top_left top_right';
    grid-template-rows: 96px;
    grid-template-columns: 1fr 32px;
  }

  .top_left {
    grid-area: top_left;
  }

  .top_right {
    grid-area: top_right;
  }

  .updated-date {
    font-size: 0.8em;
    margin-bottom: 6px;
  }

  .case-number {
    font-size: 0.8em;
    transform: translateY(-100%);
  }

  mat-form-field {
    width: 100%;
  }

  .represented, .representative {
    display: flex;
    justify-content: space-between;

    .info {
      padding: 10px;
    }
  }
}
