<!--This is to outline a template generated.-->
<div *ngIf="(_app.listenForViewChange()| async).DocumentEditor">
  <app-document-manager></app-document-manager>
</div>
<div *ngIf="(_app.listenForViewChange()| async).FileWalker">
  <app-file-navigator></app-file-navigator>
</div>
