$accent-green: #5e9b48;
$background-green: rgba(132, 210, 104, 0.46);

$accent-blue: rgb(0, 65, 130);
$background-blue: rgba(0, 100, 210, 0.46);

$iconSize: 3em;

.folder-item {
  //background:$background-green;
  color: $accent-green;
  mat-icon {
    font-size: $iconSize;
    color: $accent-green;
  }
}

.doc-item {
  //background: $background-blue;
  color: $accent-blue;
  mat-icon {
    font-size: $iconSize;
    color: $accent-blue;
  }
}

.file-manager-list-item {
  display: grid;
  grid-template-areas: "icon body more";
  grid-template-columns: 3em 1fr 78px;
}

.icon-wrapper {
  grid-area: icon;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  mat-icon {
    height: 100%;
    width: 100%;
  }

}

.body-container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: body;
  padding: 0 6px;
  height: 100%;
  width: 100%;
}

.folder-body {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.doc-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.info-wrapper {
  grid-area: more;
  display: flex;
  justify-content: center;
  align-items: center;
  mat-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}

.date-wrapper {
  font-size: 0.7em;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
  width: 100%;
}

