<div class="file-manager-list-item" [ngClass]="{'folder-item': data.fnType === 'folder', 'doc-item': data.fnType === 'doc'}" (click)="itemTapped.emit(data)">
  <div class="icon-wrapper">
    <mat-icon>
      {{ iconName }}
    </mat-icon>
    <div class="date-wrapper">
      {{ date }}
    </div>
  </div>
  <div class="body-container">
    <div *ngIf="data.fnType === 'folder'" class="folder-body">
      <label><b>{{ data.info.label }}</b></label>
      <div>Files: {{ data.info.itemsCount }}</div>
    </div>
    <div *ngIf="data.fnType === 'doc'" class="doc-body">
      <div class="top">
        <label><b>{{ data.info.label }}</b></label>
        <div>{{ data.info.template }}</div>
      </div>
      <div class="bottom">
        <div class="left">
            <small>{{data.info.matters}}</small>
        </div>
        <div class="right">
            {{data.info.representative}} for {{data.info.represented}}
        </div>
      </div>
    </div>
  </div>
  <div class="info-wrapper">
    <mat-icon>
      info
    </mat-icon>
  </div>
</div>
