<div class="selectable-edit-container" (dblclick)="onDblClick()">

  <div [attr.contenteditable]="editable" (input)="onContentChange($event.target.innerHTML)"
       (blur)="onEditableSectionBlur()"
       #editableTextArea></div>
</div>
