<div class="slide-panel-container">
  <div id="SlidePanelNavTabs">
    <mat-button-toggle-group name="ControlPanelNav" aria-label="Document Editor Navigation">
      <mat-button-toggle id="EditorTab" color="accent" [ngClass]="{'active': tabState.Editor.active, 'mat-button-toggle-checked': tabState.Editor.active}" (click)="handleTabTap($event)">Editor</mat-button-toggle>
      <mat-button-toggle id="DetailsTab" [ngClass]="{'active': tabState.Details.active, 'mat-button-toggle-checked': tabState.Details.active}" (click)="handleTabTap($event)">Details</mat-button-toggle>
      <mat-button-toggle id="OptionsTab" [ngClass]="{'active': tabState.Options.active, 'mat-button-toggle-checked': tabState.Options.active}" (click)="handleTabTap($event)">Options</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="slide-panel-view-box">
    <div *ngIf="tabState.Options.active">
      <div> Options </div>
    </div>
    <div *ngIf="tabState.Details.active">
      <form>
        <h4>mat-select</h4>
        <mat-form-field>
          <mat-select placeholder="Representative" [(ngModel)]="representative" name="food">
            <mat-option *ngFor="let rep of Representatives" value="rep.id">
              {{rep.fullName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <p> Selected food: {{selectedValue}} </p>
        <h4>native html select</h4>
      </form>
    </div>
    <div *ngIf="tabState.Editor.active">
      <div class="content">
        <div class="section-details">
            <!-- display editable meta details -->
        </div>
        <div class="text-editor-box">
          <app-wysiwyg-editor [parent]="'editor-panel'" [minHeight]="'22vh'" [(ngModel)]="sectionModel.html" [resizer]="false" (blur)="editorBlurHandler()"></app-wysiwyg-editor>
        </div>
      </div>
    </div>
  </div>
</div>
