.slide-panel-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #242f4e;
  height: 42vh;

}

.text-editor-box {
}

.slide-panel-view-box {
  position: relative;
  max-height: 45vh;
}

#SlidePanelNavTabs {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-98%);
  box-shadow: -1px 9px 15px 0 rgba(0, 0, 0, 0.5)
  mat-button-toggle {
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
  }
}

.content {
  padding: 18px;
  margin-bottom: 24px;
}

.controls {
  display: flex;
  justify-content: flex-start;
  padding: 0 12px;
  margin-bottom: 24px;

  div {
    margin-right: 8px;
  }
}
