<div class="document-manager-container">
  <div class="document-view-wrapper">
    <app-document-viewer></app-document-viewer>
  </div>

</div>
<div [ngClass]="{'visible': (_documents.listenToolbarVisible() | async)}" class="editor-toolbar-wrapper">
  <app-editor-toolbar></app-editor-toolbar>
</div>
