$color-manila: #fff3ab;

.document-manager-container {
  position: relative;
  top: 0;
  left: 0;
  max-height: 100vh;
  height: 100%;
  overflow-x: hidden;
}

.document-view-wrapper {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.editor-toolbar-wrapper {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 0.4s linear;

  &.visible {
    opacity: 0.8;
  }
}

.document-nav-tabs {
  position: absolute;
  top: 0;
  left: 50%;
}
